.site-bar {
  background-color: #222d3a;
  color: white;

  &__container {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
  }

  &__desc {
    text-transform: capitalize;
    text-align: right;
  }
}

main {
  padding-top: 32px;
}

.ui-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.articles {
  display: flex;
  flex-wrap: wrap;

  app-card {
    width: 100%;
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  .ui-container {
    width: 750px;
  }

  .articles {
    app-card {
      width: calc(50% - 8px);

      &:nth-child(odd) {
        margin-right: 16px;
      }
    }
  }
}

@media (min-width: 992px) {
  .ui-container {
    width: 970px;
  }
}